<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Traces</title>
  </head>
  <body>
    <div>
    {{ body() }}
    </div>
  <script>
    var initialData = "{{ initialData }}";
    window.__INITIAL_DATA__ = initialData;
  </script>
  <script src="/js/bundle.min.js"></script>
  </body>
</html>
